
/* Space out content a bit */
html {
    font-family: 'Roboto', sans-serif;

}
body {
  margin: 0;
  padding: 0;
  overflow:hidden;

  color: black;
  height: 100vh;
}

.con {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color:rgba(250, 250, 250, 1);

}

.intro {
  top: 0;
  left: 0;
  width: 350px;
  display: block;
  height: 100%;
  background-color:rgba(250, 250, 250, 0.7);
  border: solid 1px #E1E1E1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.intro h2 {
  opacity: .45;
}
.intro h2:hover {
  cursor: pointer;
  opacity: 1;

}
.mg2 {
  opacity: .45;
}
.mg2:hover {
  opacity: 1;
}
.image {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-bottom: 15px;
  border: solid 3px red;
  animation: pulse 3s linear infinite;
}
.wut {
  margin-top: 80%;
}
.content {
  order: 1;
  width: 90%;
  transition: transform 1s;
  overflow-y: scroll;
  background-color: rgba(250, 250, 250, 0.7);

    }


@keyframes pulse {
0% {
  box-shadow: 0px 0px 0px 0px red; }
25% {
  box-shadow: 0px 0px 25px 25px rgba(255, 0, 0, 0); }
50% {
  box-shadow: 0px 0px 45px 45px rgba(255, 0, 0, 0); }
100% {
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0); } }

.social i {
  margin-left: 15px;
}
.social * {
  opacity: .45;
}
.about * {
  opacity: .45;
}
.over:hover {
  opacity: 1;
  cursor: pointer;
}

.content1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.content img {
  margin-left: auto;
  margin-right: auto;
  height: 286px;
  width: 100%;
}
.card {
  background-color: #FAFAFA;
  margin-left: auto;
  margin-right: auto;
}

.card1 {
    order: 1;
    width: 30%;
}
.card2 {
    order: 2;
    width: 30%;

}
.card3 {
    order: 3;
    width: 30%;
}
.aboutme {
    order: 4;
    width: 95%;
}
.card a {
background-color: #6e5494;
color: white;
}

.fa-bars {
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  color: black;
  z-index: 2;
}
.naver {
  display: none;
}

@media only screen and (max-width: 715px) {

.intro {
  position: absolute;
  color: white;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 0;
  z-index: 1;
  transition: 0.25s;
  overflow: hidden;

}
.active {
  background-color: rgba(0, 0, 0, .9);
  width: 100%;

}
.content {
  order: 0;
  width: 100%;
}
.wut {
  margin-top: 25px;;
}
.naver {
  display: block;
  background-color: #2E2F34;
  opacity: 1;
  height: 55px;
  width: 100%;
}
.fa-bars {
  color: white;
}
}

@media only screen and (max-width: 1300px) {
  .card1 {
    width: 50%;
  }
  .card2 {
    width: 50%;
  }
  .card3 {
    width: 50%;
  }
}
@media only screen and (max-width: 900px) {
  .card1 {
    width: 100%;
  }
  .card2 {
    width: 100%;
  }
  .card3 {
    width: 100%;
  }
}
