
/* Space out content a bit */
html {
    font-family: 'Roboto', sans-serif;

}
body {
  margin: 0;
  padding: 0;
}

.con {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;

}
.intro {
  top: 0;
  left: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  border: solid 1px #E1E1E1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.intro h2 {
  opacity: .45;
}
.intro h2:hover {
  cursor: pointer;
  opacity: 1;

}
.mg2 {
  opacity: .45;
}
.mg2:hover {
  opacity: 1;
}
.image {
  border-radius: 50%;
  height: 225px;
  width: 225px;
  margin-bottom: 15px;
  border: solid 3px #007bff;
  animation: pulse 6s linear infinite;
}
.content {
  order: 1;
  width: 90%;
  transition: transform 1s;
  overflow-y: scroll;
}

@keyframes pulse {
0% {
  box-shadow: 0px 0px 0px 0px #007bff; }
25% {
  box-shadow: 0px 0px 25px 25px rgba(255, 0, 0, 0); }
50% {
  box-shadow: 0px 0px 45px 45px rgba(255, 0, 0, 0); }
100% {
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0); } }

.social i {
  margin-left: 15px;
}

.about * {
  opacity: .45;
}
.over:hover {
  opacity: 1;
  cursor: pointer;
}

[data-info] {
  font-size: 17px;
}

.content1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    width: 90%;
    text-align: center;
    border-bottom: solid #E1E1E1 1px;
    border-top: solid #E1E1E1 1px;
    margin-left: auto;
    margin-right: auto;
}

.content img {
  margin-left: auto;
  margin-right: auto;
  height: 225px;
  width: 100%;
}
.card {
    max-width: 550px;
    margin: 15px auto 15px auto;
    border: none;
}

.aboutme {
    order: 0;
    height: 350px;
    border-bottom: solid #E1E1E1 1px;
    border-top: solid #E1E1E1 1px;
}
.aboutme .card-body {
  height: 350px;
}

.fa-bars {
   margin-left: 15px;
   margin-top: 15px;
   cursor: pointer;
   font-size: 25px;
   color: black;
}
.naver {
  display: none;
}
.content h2 {
  margin-top: 15px;
  text-align: center;
  opacity: 0.7;
}
.content  {
  text-align: center;
}
.social * {
  font-size: 25px;
  opacity: .45;
  margin-left: 5px;
  margin-right: 5px;
}
.social {
  width: 100%;
}
.marginme * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.actualabout {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.para {
  margin-right: auto;
  margin-left: auto;
  width: 650px;
}
.mybtn {
  background-color: #A79BCB;
  color: white;
}
.mybtn:hover {
  color: #eee;
}
@media only screen and (max-width: 850px) {
  .para {
    width: 350px;
  }
.con {
  height: 100%;
}
.wut {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.intro {
  position: fixed;
  margin-top: 0;
  top: 0;
  flex-wrap: nowrap;
  left: 0;
  width: 0;
  z-index: 1;
  height: 100vh;
  background-color:rgba(250, 250, 250, 0.5);
  overflow: hidden;
}
.gopher {
margin-left: auto;
margin-right: auto;
}
.active {
  background-color:rgba(250, 250, 250);
  width: 100%;
}
.content {
  width: 100%;
  margin-top: 55px;
  z-index: 0;
  overflow-y: scroll;
}

.naver {
  position: fixed;
  display: block;
  background-color:rgba(250, 250, 250);
  height: 50px;
  width: 100%;
  border-style: none;
  top: 0;
  z-index: 2;
  transition: top 0.5s;

}

.marginme * {
  margin-top: 20px;
  margin-bottom: 20px;
}
}


@media (max-width: 1900px) {
  .content1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1270px) {
.content1 {
  grid-template-columns: repeat(1, 1fr);
}
}
@media only screen and (max-width: 900px) {
  .content1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.current {
  background-color: #eee;
  font-weight: bold;
  text-align: center;
  opacity: .85;
  border-radius: 10px;
  width: 175px;
}
.theterminal {
  margin: 25px auto 15px;
   background-color: black;
   opacity: .85;
   border-radius: 10px;
   color:white;
   border: solid black 1px;
   height: 275px;
   width: 650px;

 }
 .terminal {
   font-family: 'Roboto', sans-serif;
   margin-left: 10px;
   margin-top: 10px;
   overflow-x: hidden;
 }
 .terminal:after {
  visibility: visible;
  content: '';
  background-color: white ;
  display: inline-block;
  position: relative;
  width: 0.1em;
  height: 1.1em;
  top: 3px;
  left: 5px;
  margin-left: 0;
  -moz-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
  -webkit-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
  animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
}

.typed-cursor {
  display:none;
}
.gopher {
  width: 125px;
  height: 125px;
}
@media only screen and (max-width: 650px) {
  .theterminal {
    width: 350px;
  }
}
.wut {
  color: black;
}
.wut a {
  color: inherit;
  opacity: .95;

}
